<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumridge.tw.mapper.TradePlatformMapper">

	<select id="findTierPriceLevel" resultType="int">
		select level from trade_platform where id = #{id}
	</select>

</mapper>
	