[default]
ConnectionType=initiator
BeginString=FIX.4.4
StartTime=04:00:00 US/Eastern
EndTime=23:00:00 US/Eastern
SocketConnectProtocol=TCP
HeartBtInt=30

UseDataDictionary=Y
DataDictionary=FIX44-AIPRICE.xml


ValidateUserDefinedFields=N
ValidateUnorderedGroupFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValues=N
ValidateIncomingMessage=N
AllowUnknownMsgFields=Y

ReconnectInterval=15
SLF4JLogPrependSessionID=Y
SLF4JLogHeartbeats=Y

FileStorePath=/smrd/logs/fix/tw/ai

#SocketConnectHost=208.226.148.188
SocketConnectHost=sumrd03aplqa.rjf.com

[session]
#SocketConnectPort=443
#SocketUseSSL=Y

#DEV
SocketConnectPort=15030
SenderCompID=TWAISUMDEV
TargetCompID=TWCREDITALGODEV


#PROD
#SocketConnectPort=10030
#SenderCompID=TWAISUMRIDGE
#TargetCompID=TWCREDITALGOPROD

PersistMessages=N
ResetOnLogon=Y
SendResetSeqNumFlag=Y
CheckLatency=Y
FileStoreMaxCachedMsgs=0
MaxLatency=1200
